<html>
    <head>
        <title>{{title | capitalize }} - {{operationGroupName | capitalize }}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    </head>
    <body>
        <h1>{{operationGroupName | capitalize }}</h1>
        <h2>{{operationGroupDescription}}</h2>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">Operation</th>
                    <th scope="col">Path</th>
                    <th scope="col">Http Verb</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                {% for operation in operations %}
                <tr>
                    <td data-test="operation-id">
                        {{ operation.operationId }}
                    </td>
                    <td>{{ operation.path }}</td>
                    <td>{{ operation.verb }}</td>
                    <td>{{ operation.summary }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>