<html>
    <head>
        <title>{{title | capitalize }} - {{operationGroupName | capitalize }} - {{ operationSummary | capitalize }}</title>
    </head>
    <body>
        <h1>{{operationSummary | capitalize }}</h1>
        <h2>{{operationDescription}}</h2>
    </body>
</html>